<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <!--
  <script data-require="angular.js@1.4.6" data-semver="1.4.6" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
  -->
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="cookie.js"></script>
</head>

<body ng-controller="questionController">
  <div class="questionsPool" >
	<button class="questionButton" ng-repeat="i in range"> {{i}} </button>
  </div>
  
  <div class="timer">
    <h4><span id="timerSpace"></span> </h4>
  </div>
  <div >
    <div class="questionNumber">
      <h5>Question {{question.id}}</h5>
    </div>
    <div class="question">
      <p>{{question.sentence}}</p>
    </div>
    <div class="answersTitle">
      <h5>Answers</h5>
    </div>
    <div class="answers">
      <label ng-repeat="answer in question.answers">
        <br />
        <input id="answer" name="answer" type="radio" ng-model="answer.active" ng-click="check()"> <span class="firstAnswer"></span><br />
		    <input id="answer" name="answer" type="radio" ng-model="answer.active" ng-click="check()"> <span class="secondAnswer"></span><br />
		    <input id="answer" name="answer" type="radio" ng-model="answer.active" ng-click="check()"> <span class="thirdAnswer"></span><br />
        <input id="answer" name="answer" type="radio" ng-model="answer.active" ng-click="check()"> <span class="fourthAnswer"></span>
      </label>
    </div>
    <!-- <button ng-click="respond()">Answer</button> -->
  </div>
  
  <script> doButtons(); startClock(); doSetQuestion(0); </script>
</body>

</html>